  <div class="social-container">
    <div class="social">
      <a href="https://www.facebook.com" class="facebook"></a>
      <a href="https://www.twitter.com" class="twitter"></a>
      <a href="https://api.whatsapp.com/send?phone=16093153179" class="watsapp"></a>
      <a href="tel:+1 (609) 315-3179" class="phone"></a>
    </div>
  </div>

  <div class="navigationalElements">
    <div class="navGroup" [ngStyle]="navGroupStyles" [class.open]="navGroupState[i]"
      *ngFor="let navGroup of navigationElements; let i = index">
      <div class="footer-arrow" (click)="changeState(i)"></div>
      <div class="navGroupText" (click)="changeState(i)">{{navGroup.text}}</div>
      <div *ngIf="navGroupState[i]" class="nav-sub-group-container">
        <div class="nav-sub-group-element" *ngFor="let element of navGroup.subElements">
          {{element.text}}
        </div>
      </div>

    </div>

  </div>
